body{
  margin:0;
  font-family:Arial, sans-serif;
}
.first1{
  background:url("background1.png") no-repeat center center/cover;
  height:100vh;
  position:relative;
}
.title{
  position:absolute;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  color:white;
  width:90%; 
}

.title h1{
  font-family:'Playfair Display', serif;
  font-size:70px;
  letter-spacing:2px;
  -webkit-text-stroke:1.2px black;
  text-shadow:2px 2px 6px rgba(0,0,0,0.6);
}
.center1{
  position:absolute;
  top:52%;
  left:50%;
  transform:translate(-50%, -50%);
}

.Exploreb{
  display:inline-block;
  padding:15px 40px;
  font-size:20px;
  background-color:#8B4513;
  color:white;
  text-decoration:none;
  border-radius:30px;
  transition:0.3s;
}

.Exploreb:hover{
  background-color:#D97706;
  transform:scale(1.08);
}

.subtitle{
  position:absolute;
  top:60%;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  color:#FFF4E0;
  font-size:18px;
  width:90%;
}

@media (max-width:600px){

  .title h1{
    font-size:36px; 
  }

  .subtitle{
    font-size:14px;
    top:62%;
  }

  .Exploreb{
    padding:12px 25px;
    font-size:16px;
  }

}


@media (min-width:601px) and (max-width:900px){

  .title h1{
    font-size:50px;
  }

  .Exploreb{
    font-size:18px;
    padding:14px 30px;
  }

}